:root{
    /* color */
    --gold: #6A645A;
    --gold: #bd9955;
    --blue: rgb(54, 83, 110);
    --white_yellow: #F1F1D3;
    --noir: #2e2e2e;
    --lightblue: rgb(126, 166, 202);

    /* font */
    --title: "Berkshire Swash", serif;
    --corp: "Rubik", sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    background-color: var(--blue);
    height: 100dvh;
    width: 100dvw;
}

main{
    position: relative;
    width: 100%;
    height: 60vh;
    margin: auto;
}

nav{
    display: grid;
    padding: 1rem 0;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 5vh;
    height: 15vh;
    max-height: 15vh;
}


h1{
    color: var(--white_yellow);
    text-align: center;
    font-size: 5rem;
    font-family: var(--title);
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
}

#theme_selector{
    position: relative;
    margin: auto;
    width: 80vw;
    max-width: 1000px;
    height: 40vh;
    display: flex;
    align-items: center;
}

#theme_selector button{
    appearance: none;
    border: none;
    background-color: var(--gold);
    color: var(--white_yellow);
    font-family: var(--corp);
    padding: 1rem 2rem;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: calc(100%/2);
    height: 80%;
}


[position] div{
    background-color: var(--lightblue);
    border: 3px solid var(--white_yellow);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-style: preserve-3d;
    transform: translateX(0%) perspective(500px) translateZ(-250px) scale(0.6);
    opacity: 0;
    transition: 0s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(255, 255, 255, 0.3);
}

[position] div h2{
    text-align: center;
    color: var(--white_yellow);
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--corp);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
}

[position] div img{
    width: 70%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


[position="1"] {
    z-index: 99;
    div{
        transform-style: preserve-3d;
        transform: translateX(-70%) perspective(500px) translateZ(-250px) rotateY(-55deg) scale(0.6);
        opacity: 1;
        filter: grayscale(1) blur(2px);
        transition: .6s ease-out;
    }
}

[position="2"] {
    z-index: 100; 
    div{
        transform: translateX(0) scale(1);
        opacity: 1;
        cursor: pointer;
        transition: .9s ease-in;
    }
}

[position="3"] {
    z-index: 99;
    div{
        transform-style: preserve-3d;
        transform: translateX(70%) perspective(500px) translateZ(-250px) rotateY(55deg) scale(0.6);
        opacity: 1;
        filter: grayscale(1) blur(2px);
        transition: .6s ease-out;
    }
}


.custom-arrows{
    position: absolute;
    top: 50%;
    height: 80px;
    aspect-ratio: 1/1;
    z-index: 999999;
    background-color: rgba(241, 241, 211, 0.6);
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.custom-arrows-left{
    left: 15%;
    transform: translate(-50%, -50%);
}
.custom-arrows-right{
    left: 85%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.custom-arrows path{
    pointer-events: none;
    fill: var(--white_yellow);
    transition: .5s;
}
.custom-arrows:hover{
    background-color: var(--gold);
}
.custom-arrows:hover path{
    fill: white;
}

#many_card_selector{
    position: relative;
    margin: auto;
    width: 80vw;
    max-width: 1000px;
    height: 10vh;
}

#many_card_selector div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    width: 50%;
    margin: auto;
}
#many_card_selector div button{
    flex-grow: 1;
    height: 80%;
    appearance: none;
    background-color: var(--white_yellow);
    border: 3px solid;
    border-radius: 10px;
    font-family: var(--corp);
    font-size: 1.5rem;
    color: var(--noir);
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
    cursor: pointer;
    transition: .1s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
}
#many_card_selector div button.active{
    flex-grow: 2;
    background-color: var(--lightblue);
    color: var(--white_yellow);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(255, 255, 255, 0.3);
}
#many_card_selector div button:active{
    scale: 0.99;
}

#play_button{
    position: relative;
    margin: auto;
    width: 80vw;
    max-width: 1000px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#play_button button{
    width: 50%;
    height: 80%;
    margin: auto;
    appearance: none;
    background-color: var(--white_yellow);
    border: 3px solid var(--noir);
    border-radius: 10px;
    cursor: pointer;
    transition: all .6s, scale 0.1s;
    color: var(--noir);
    font-family: var(--corp);
    font-size: 1.7rem;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
#play_button button:active{
    scale: 0.99;
}
#play_button button:hover{
    background-color: var(--lightblue);
    color: var(--white_yellow);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(255, 255, 255, 0.3);
    border-color: var(--white_yellow);
}

content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#right_icons{
    width: 11vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#leaderboard, #mute{
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .1s;
    cursor: pointer;
    position: relative;
}
#leaderboard:active, #mute:active{
    scale: 0.99;
}
#leaderboard svg, #mute svg{
    width: 50%;
    height: 50%;
    fill: var(--white_yellow);
}
#mute svg g{
    pointer-events: none;
}
#leaderboard svg path{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(255, 255, 255, 0.3);
    transition: .5s;
}
#leaderboard h3, #mute h3{
    transition: .5s;
    color: var(--white_yellow);
    font-family: var(--title);
    font-weight: 900;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(89, 79, 68, 0.5);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.unmute{

}
.hidden{
    opacity: 0;
    position: absolute;
    z-index: -99;
}



footer{
    height: 20vh;
    background-color: rgb(124, 153, 214);
}